{% extends 'base.html.twig' %}
{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block breadcrumbs %}
    {{ include('common/breadcrumbs.html.twig', { 'breadcrumbs': breadcrumbs }) }}
{% endblock %}

{% block main %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <div>
            {{ post.content | raw }}
        </div>
        <div class="text-muted text-small">
            {{ post.createdAt|date("m/d/Y H:i") }}
        </div>
    </div>
            
    <div class="container comment_form" id="add-comment">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#container-comment_form" aria-expanded="false" aria-controls="container-comment_form">
            Give your opinion
        </button>
        <div class="collapse" id="container-comment_form">
            {{ form(commentForm) }}
        </div>
    </div>

    <div class="container comments">
        {% for comment in comments %}
            <div class="row border border-light comment">
                <div class="col-12 text">
                    {{ comment.text }}
                </div>
                <div class="col-12 text-muted text-small">
                    {{ comment.createdAt|date("m/d/Y H:i") }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
